.Main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px ;
}
.Xuhuong{
    display: flex;
    flex-direction:column;
    gap: 40px;
    align-items: center;
    font-size: 20px;
}
.Xuhuong img{
    width: 250px;
    height: 20px;
}
.GroupSP{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #007bff;
}
.images img {
    height: auto;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.text{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.yeuthich h2{
    display: flex;
    flex-direction:column;
    gap: 40px;
    align-items: center;
    font-size: 30px;
}

.GroupYT {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Chia thành 5 cột đều nhau */
    gap: 20px; /* Khoảng cách giữa các sản phẩm */
}
p{
    text-decoration: none;
}
.SPYT {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagesyt img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.textyt .title {
    font-size: 16px;
    margin: 10px ;
}

.textyt .price {
    font-size: 14px;
    color: #e91e63;
    margin: 5px 0;
}
span{
    color: black;
    font-size: 16px;
    
}
a{
    text-decoration: none !important;;
}
.yeuthich button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

 button:hover {
    background-color: #45a049;
}